.checkbox input[type=checkbox],
.checkbox [type=checkbox].button {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.checkbox label {
    display: none;
    cursor: pointer;
    user-select: none;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
input[type=submit],
.button,
.button:visited,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
html [type="button"].button,
input[type="reset"],
[type="reset"].button,
input[type="submit"],
[type="submit"].button {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled],
html [disabled].button {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner,
input[type=submit]::-moz-focus-inner,
.button::-moz-focus-inner,
.button:visited::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input,
input[type=submit],
.button,
.button:visited {
    line-height: normal;
}

input[type="checkbox"],
[type="checkbox"].button,
input[type="radio"],
[type="radio"].button {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
[type="number"].button::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
[type="number"].button::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"],
[type="search"].button {
    -webkit-appearance: textfield;
    /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    /* 2 */
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
[type="search"].button::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
[type="search"].button::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    /* 1 */
    padding: 0;
    /* 2 */
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}


/* Keyframes */

@-moz-keyframes ripple-animation {
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
        opacity: 0.4;
    }
    100% {
        -moz-transform: scale(100);
        transform: scale(100);
        opacity: 0;
    }
}

@-webkit-keyframes ripple-animation {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0.4;
    }
    100% {
        -webkit-transform: scale(100);
        transform: scale(100);
        opacity: 0;
    }
}

@keyframes ripple-animation {
    0% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0.4;
    }
    100% {
        -moz-transform: scale(100);
        -ms-transform: scale(100);
        -webkit-transform: scale(100);
        transform: scale(100);
        opacity: 0;
    }
}

html {
    background-color: #fff;
}

body,
select,
input,
input[type=submit],
.button,
.button:visited,
textarea {
    color: #000;
    color: rgba(0, 0, 0, 0.7);
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 300;
    line-height: 1.5em;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* *,
* *:before,
* *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

ul,
ol {
    padding: 0;
}

p {
    margin: 0;
    line-height: 1.5em;
}

.content {
    max-width: 72em;
    margin-left: auto;
    margin-right: auto;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 0.5em;
    background-color: #29BDBB;
    height: 3em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    line-height: 3em;
    color: #fff;
    transform: translateZ(0);
    backface-visibility: hidden;
}

header h3 {
    margin: 0;
}

ul.message-list {
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

#main {
    padding: 0 0.5em;
    margin-top: 3em;
    width: 100%;
}

.message {
    border-radius: 1.5em;
    margin: 0.5em 0;
    padding: 0.5em 1em;
    max-width: 66%;
}

.message.recieve {
    background-color: #d9d9d9;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    margin-left: 0;
    margin-right: auto;
}

.message.send {
    background-color: #2196F3;
    color: rgba(255, 255, 255, 1);
    text-align: right;
    margin-left: auto;
    margin-right: 0;
}

.text-input {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateZ(0);
    backface-visibility: hidden;
    position: relative;
}

.text-input #message {
    width: 100%;
    text-align: left;
    line-height: 2em;
    padding: 0.5em 1em;
    border: none;
    border-top: 1px solid #ccc;
    padding-right: 4em;
    outline: none;
}

.text-input .sendMessage {
    width: 2.5em;
    height: 2.5em;
    border-radius: 1.5em;
    background-color: #29BDBB;
    color: #fff;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    position: absolute;
    right: 0.5em;
    bottom: 0.25em;
    border: none;
    outline: none;
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.text-input .sendMessage:active {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background-color: #43D7D5;
}

.text-input .sendMessage[disabled] {
    background-color: #999;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
